# Need these to run on 10-sec boundaries, keep commands in sync.
* * * * *             python ~/solarbattman/py/solarbattman.py
* * * * * ( sleep 10; python ~/solarbattman/py/solarbattman.py )
* * * * * ( sleep 20; python ~/solarbattman/py/solarbattman.py )
* * * * * ( sleep 30; python ~/solarbattman/py/solarbattman.py )
* * * * * ( sleep 40; python ~/solarbattman/py/solarbattman.py )
* * * * * ( sleep 50; python ~/solarbattman/py/solarbattman.py )
